<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{{script}}}
    <script>document.getElementById("app").innerHTML = jquery().jquery;</script>
</head>
<body>
    <div id="app"></div>
</body>
</html>
